body {
    font-family: 'Georgia', serif;
    color: #444;
    background: #e0e0e0;
    line-height: 1.6em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Centraliza verticalmente o conteúdo */
}

.container {
    max-width: 100%;
    width: 90%;
    margin: 0 auto;
    padding: 1em;
    text-align: center;
    box-sizing: border-box;
}

/* Estilo da Capa do Livro */
.book-cover {
    width: 70%; /* Define a largura ideal para ocupar bem o espaço */
    max-width: 280px; /* Define um limite para a largura da capa */
    height: auto;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.book-cover:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

/* Estilo do Título do Livro */
.book-title {
    font-size: 2em; /* Define o tamanho ideal para o título */
    margin-top: 0.5em;
    margin-bottom: 0.2em;
}

.author-name {
    font-size: 1.3em; /* Define o tamanho ideal para o nome do autor */
    margin-bottom: 1em;
    color: #666; /* Cor sutil para complementar o título */
}

/* Estilo dos Botões */
.buttons a {
    display: inline-block;
    background: #666;
    color: #fff;
    text-decoration: none;
    padding: 12px 20px; /* Define um padding confortável */
    margin: 10px;
    border-radius: 5px;
    transition: background 0.3s ease;
    font-size: 1.1em; /* Define o tamanho ideal para o botão */
}

.buttons a:hover {
    background: #888;
}

/* Estilos para Tornar o Design Responsivo */
@media (max-width: 768px) {
    .book-cover {
        width: 80%; /* Aumenta ligeiramente a largura da capa para melhor uso do espaço em dispositivos móveis */
        max-width: 250px; /* Limita a largura em dispositivos móveis */
    }

    .book-title {
        font-size: 1.8em; /* Ajusta o tamanho do título em dispositivos móveis */
    }

    .author-name {
        font-size: 1.2em; /* Ajusta o tamanho do nome do autor */
    }

    .buttons a {
        width: 90%; /* O botão ocupa quase toda a largura do container em telas menores */
        padding: 10px 15px; /* Ajusta o padding para um toque confortável */
        font-size: 1em; /* Ajusta o tamanho da fonte do botão */
        margin: 8px auto;
    }

    .container {
        padding: 0.5em;
    }
}

@media (min-width: 1024px) {
    .book-cover {
        width: 60%; /* A capa ocupa 60% do container em telas maiores */
        max-width: 300px; /* Limita a largura para uma proporção visualmente agradável */
    }

    .book-title {
        font-size: 2.2em; /* Tamanho maior para o título em telas grandes */
    }

    .author-name {
        font-size: 1.4em; /* Aumenta levemente o nome do autor */
    }

    .buttons a {
        padding: 15px 30px;
        font-size: 1.2em;
    }
}
