/* Configurações Globais */
body {
    font-family: 'Georgia', serif;
    color: #444;
    background: #f2f2f2;
    line-height: 1.6em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit; /* Todos os elementos herdam box-sizing do body */
}

/* Container Principal */
.container {
    max-width: 100%;
    width: 800px;
    margin: 0 auto;
    padding: 1em;
    overflow-x: hidden; /* Garante que nada "fuja" da tela horizontalmente */
}

/* Estilo do Cabeçalho */
h1 {
    font-size: 2.2em;
    color: #333;
    text-align: center;
    margin-top: 2em;
    word-wrap: break-word; /* Quebra automaticamente palavras longas */
}

/* Estilo dos Parágrafos */
p {
    font-size: 1.2em;
    line-height: 1.6em;
    margin: 1em 0;
    text-align: justify;
    text-indent: 2em;
    word-wrap: break-word; /* Evita que palavras longas ultrapassem os limites da tela */
    overflow-wrap: break-word; /* Quebra de palavras em dispositivos menores */
}

/* Estilo dos Botões */
.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    padding: 0 10px; /* Espaçamento lateral para garantir que os botões não encostem na borda */
    gap: 10px; /* Espaço entre os botões */
    flex-wrap: wrap; /* Garante que os botões sejam realinhados se não houver espaço suficiente */
}

.buttons button {
    flex: 1; /* Todos os botões ocuparão proporcionalmente o mesmo espaço */
    padding: 10px 20px;
    font-size: 1.2em;
    color: white;
    background: #666;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.5s ease;
    max-width: calc(33% - 10px); /* Garante que três botões caibam lado a lado, menos o espaço entre eles */
}

.buttons button:hover {
    background: #888;
}

/* Estilos Para Imagens */
img {
    max-width: 100%;
    height: auto;
}

/* Estilos para Tornar o Design Responsivo */
@media (max-width: 768px) {
    h1 {
        font-size: 1.8em; /* Reduz o tamanho da fonte do título em telas menores */
    }

    .container {
        padding: 1em; /* Reduz o padding em telas menores */
    }

    .buttons button {
        font-size: 1em; /* Reduz o tamanho da fonte dos botões em telas menores */
        max-width: calc(33% - 5px); /* Garante que os botões se ajustem em telas menores */
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 80%;
        padding: 30px;
    }
}
